</div>
<footer class="footer bg-dark p-0 text-center">
    <div class="col-md-12  fs-6 ">
        <h6 class="ms-3 text-white"><a href="https://a2zithub.org/"target="_blank"style="color: white !important;">@CopyRight A2Z Pvt.Ltd.</a> </h6>

    </div>
 
</footer>
</div>
<!-- CoreUI and necessary plugins-->
<script src="/static/admin_assets/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="/static/admin_assets/vendors/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="/static/admin_assets/vendors/chart.js/js/chart.min.js"></script>
<script src="/static/admin_assets/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/static/admin_assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="/static/admin_assets/js/main.js"></script>
<script>
</script>

</body>
</html>