<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Admin</title>
    <!-- Vendors styles-->
    <link rel="stylesheet" href="/static/admin_assets/vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="/static/admin_assets/css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="/static/admin_assets/css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="/static/admin_assets/css/examples.css" rel="stylesheet">
    <link href="/static/admin_assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet">
    <!-- fa cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="sidebar  sidebar-fixed" id="sidebar" style="background-color:rgb(36, 36, 49);">
      <div class="sidebar-brand d-none d-md-flex">
        <a href="/">
           <img style="height: 100px; width: 255px;" src="/static/user/images/logo.jpg">
           
       
          <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
          </svg>
        </a>
      </div>
      <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/home">
                        <svg class="nav-icon">
                        </svg>Slider</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/menu">
                        <svg class="nav-icon">
                        </svg>Menu</a>
                 </li>

                <li class="nav-group"><a class="nav-link" href="/admin/customer_list">
                    <svg class="nav-icon">
                    </svg>Customer Record</a>
                </li>

                <li class="nav-group"><a class="nav-link" href="/admin/about_us">
                    <svg class="nav-icon">
                    </svg>About Us</a>
            
                </li>
                
                <li class="nav-group"><a class="nav-link " href="/admin/gallery">
                <svg class="nav-icon">
                </svg>Gallery</a>
            
                </li>

            <li class="nav-group"><a class="nav-link" href="/admin/contact_us">
                <svg class="nav-icon">
                </svg>Contact List</a>
            
                </li>
            
      </ul>
      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>
    </div>




<div class="wrapper d-flex flex-column min-vh-100 bg-light">
      <header class="header header-sticky mb-4 bg-black" >
        <div class="container-fluid">
          <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
            <svg class="icon icon-lg text-white">
              <use xlink:href="/static/admin_assets/vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
            </svg>
          </button><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
              <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg></a>
          <ul class="header-nav ms-3">
            <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="avatar avatar-md"><img class="avatar-img" src="https://a2zithub.org/assets/165710745335077275.png" alt="user@email.com"></div>
              </a>
              <div class="dropdown-menu dropdown-menu-end pt-0"> 

                  <a class="dropdown-item" href="/">
                  <svg class="icon me-2">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                  </svg> Go To Website</a>

                  <a class="dropdown-item" href="/admin">
                  <svg class="icon me-2">
                    <use xlink:href="/static/admin_assets/vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                  </svg> Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </header>
<div class="body flex-grow-1 px-3">